---
layout: false
permalink: /index.html
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'sha256-EpCsREbet8yka5lBUXnwBIaxeHo24ygu4rTfaqqJOzg='">
  <meta http-equiv="refresh" content="0; url=/es/">
  <script>
    if (localStorage.getItem('language') === 'en') {
      location.replace('/en/');
    }
  </script>
</head>
<body>
  <p>Redirecting... <a href="/es/">Click here</a></p>
</body>
</html>
