---
layout: false
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="http://www.w3.org/1999/xhtml">
  <url>
    <loc>{{ site.url }}/</loc>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
{%- for item in collections.all %}
{%- if item.url and not item.data.noindex and not item.data.eleventyExcludeFromCollections %}
  <url>
    <loc>{{ site.url }}{{ item.url }}</loc>
    {%- if item.data.dateModified %}
    <lastmod>{{ item.data.dateModified }}</lastmod>
    {%- endif %}
    {%- if item.data.lang %}
    {%- set altUrl = item.url | langUrl(item.data.lang) %}
    <xhtml:link rel="alternate" hreflang="{{ item.data.lang }}" href="{{ site.url }}{{ item.url }}" />
    <xhtml:link rel="alternate" hreflang="{% if item.data.lang == 'en' %}es{% else %}en{% endif %}" href="{{ site.url }}{{ altUrl }}" />
    {%- endif %}
  </url>
{%- endif %}
{%- endfor %}
</urlset>
