---
layout: false
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for l in site.languages %}
  <sitemap><loc>{{ ('/sitemaps/' + l.code + '.xml') | absoluteUrl(site.url) }}</loc></sitemap>
  {% endfor %}
</sitemapindex>
